
.heading{
  text-align: center;
  font-size: 24px;
}
.wishlist-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  padding: 20px;
}
.wish{
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  position: relative;
  padding: 20px;
  border-radius: 20px;
}
.wishlist-container{
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding:8px 8px 0px 8px;
  right: 10px;
}
.product-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image-container img{
  width: 15em;
  height: 15em;
  object-fit: contain;
}
.product-details{
  margin-top: 10px;
  font-size: 15px;
}
.product-name{
  font-weight: 500;
}
.product-price-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.product-price{
  font-size: 18px;
  font-weight: bold;
}
  .product-discount-price{
    color: grey;
    text-decoration:1px line-through;
    font-size: 13px;
    font-weight: 600;
  }
  .product-discount-percentage{
    background-color: rgb(229, 247, 238);
    padding: 1px 5px;
    color: rgb(3, 117, 60);
    font-size: 13px;
    font-weight: 600;
  }
 
  .product-add-button button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(224, 224, 224);
    padding: 10px 20px;
    width: 100%;
    border-radius: 50px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 74, 179);
    cursor: pointer;
  }
  @media(max-width:1300px){
    .wishlist-grid{
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
  }
  @media(max-width:1150px){
    .wishlist-grid{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
  }
  @media(max-width:850px){
    .wishlist-grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media(max-width:600px){
    .wishlist-grid{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
  }
 